<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Bank Branches</title>
<link th:href="@{/styles.css}" rel="stylesheet" />
</head>
<body>
<table>
<tr><th>Bank XYZ</th></tr>
<tr><td>1</td>
<td>Branch one</td></tr>
<tr><td>2</td>
<td>Branch two</td></tr>
<tr><td>3</td>
<td>Branch three</td></tr>
<tr><td>4</td>
<td>Branch four</td></tr>
<tr><td>5</td>
<td>Branch five</td></tr>
<tr><td>6</td>
<td>Branch six</td></tr>
<tr><td>7</td>
<td>Branch seven</td></tr>
<tr><td>8</td>
<td>Branch eight</td></tr>
<tr><td>9</td>
<td>Branch nine</td></tr>
<tr><td>10</td>
<td>Branch ten</td></tr>

</table>
</body>
</html>